html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}
.container {
    width: 1400px !important;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.base_keywords {
    background-color: #ffc8c5 !important;
}

.description {
    background-color: #beffd5 !important;
}
.review_new {
    background-color: #a0e2ff !important;
}
.review_reject {
    background-color: #ff7f70 !important;
}
#product-description, #category-description{
    height: 600px;
}
#category-seo_text,
#review-review,
#product-base_keywords{
    height: 200px;
}
.site-index div.button {
    position: absolute;
    right: 0;
    top: -10px;
}
.wrap > .container {
    padding:  15px 20px !important;
}
h1{
    margin: 0 0 20px 0 !important;
}
.right{
    float: right;
}
.images>div{
    float: left;
    margin: 0 20px 10px 0;
}