@media (max-width: 1000px) {
    header div#header_top div#header_top_body,
    header div#header div#header_body,
    header div#header_bottom div#header_bottom_body {
        margin: 0;
        width: 100%;
    }
    header div#header div#call_time {
        display: none;
    }
    header div#header div#cart_small {
        right: 5%;
    }

    header, footer {
        margin: 0;
        min-width: 256px !important;
    }

    footer div#footer {
        width: 100%;
    }
    footer div#footer_top_links {
        padding-top: 15px !important;
        margin-left: 5px;
    }
}

@media (max-width: 740px) {
    header div#header div#block_phone_search {
        left: 30%;
    }
}

@media (max-width: 670px) {
    header div#header div#block_phone_search div#phone_all {
        float: none;
    }
    header div#header div#search input#text_search {
        width: 100%;
    }
    header div#header div#block_phone_search {
        left: 50%;
        top: 10px;
    }
    header div#header div#block_phone_search div.phone_help {
        display: none;
    }
}

@media (max-width: 540px) {
    footer div#footer_bottom_email {
        display: none;
    }
}

@media (max-width: 490px) {
    footer div#social {
        display: none;
    }

    footer div#footer div#footer_bottom div#footer_bottom_title {
        padding-top: 5px;
    }
    footer div#footer div#footer_bottom div#footer_bottom_phone {
        left: 25px;
        top: 30px;
    }
    footer li#map_site {
        display: none;
    }
}
