@font-face {
    font-family: "ALSRublRegular";
    src: url("rouble-webfont.eot") format("embedded-opentype"),
    url("rouble-webfont.woff") format("woff"),
    url("rouble-webfont.ttf") format("truetype"),
    url("rouble-webfont.svg#ALSRublRegular") format("svg");
}

html {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: "Arial";
    font-size: 12px;
}

ol, ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/***** Price *****/
span.rub {
    font-size: 16px;
    font-weight: normal;
}

div.cart_product span.rub {
    font-size: 12px;
}

/****************/
body {
    position: relative;
}

header, footer, section {
    min-width: 1000px;
    margin: 0 auto;
}

div.clear {
    float: none;
    clear: both;
}

h1, .h1 {
    font-size: 25px !important;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin: 10px 0 !important;
}

h2, .h2 {
    font-size: 25px;
}

a {
    color: #55b6e4;
}

a:hover {
    color: #297be4;
}

p {
    text-align: justify;
}

label {
    cursor: pointer;
}

.hidden {
    display: none;
}

.alert-danger {
    font-size: 13px !important;
}

.btn {
    background: #fe8c00;
    background-image: -webkit-linear-gradient(top, #fe8c00, #fc6500);
    background-image: -moz-linear-gradient(top, #fe8c00, #fc6500);
    background-image: -ms-linear-gradient(top, #fe8c00, #fc6500);
    background-image: -o-linear-gradient(top, #fe8c00, #fc6500);
    background-image: linear-gradient(to bottom, #fe8c00, #fc6500);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(102, 102, 102, 0.5);
    -moz-box-shadow: 0 1px 4px rgba(102, 102, 102, 0.5);
    box-shadow: 0 1px 4px rgba(102, 102, 102, 0.5);
    color: #ffffff;
    font-size: 12px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.51);
    position: relative;
    top: 1px;
}

.btn:hover {
    background: #fe8c00;
    text-decoration: none;
    color: #ffffff;
}

.btn a {
    color: #ffffff !important;
    text-decoration: none !important;
    font-size: 12px !important;
}

.bold {
    font-weight: bold;
}


section div.order {
    font-size: 14px;
    padding: 20px;
    border: 1px solid #e6e6e6;
}

section div.order div {
    margin-bottom: 10px;
}

section div.order h1 {
    font-size: 35px !important;
    font-weight: bold !important;
    margin-bottom: 20px !important;
}

section div.order div.order_title {
    font-size: 18px;
}

section div.order span.order_number {
    color: #df1811;
}

section div.order th,
section div.order td.cart_product_title span,
section div.order span.order_date {
    color: #888888;
    font-weight: normal;
}

section div.order span.order_phone {
    font-weight: bold;
}

section div.order div.main_info {
    background-color: #f7f7f7;
    margin: 0 !important;
    padding: 10px;
    line-height: 1.5;
    font-size: 14px;
}

section div.order div.order_contact div.col-md-6 {
    overflow: hidden;
    white-space: nowrap;
}

section div.order div.order_contact div.col-md-6:nth-child(2n+1) {
    width: 35%;
}

section div.order div.order_contact div.col-md-6:nth-child(2n+1)::after {
    color: #e3e3e3;
    content: "________________________________________________________________";
    height: 2px;
    padding-left: 10px;
    position: relative;
    top: -5px;
    width: 100%;
}

div#logo_small {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -338px 6px;
    width: 175px;
    height: 90px;
    position: relative;
}
