@font-face {
    font-family: "ALSRublRegular";
    src: url("rouble-webfont.eot") format("embedded-opentype"),
    url("rouble-webfont.woff") format("woff"),
    url("rouble-webfont.ttf") format("truetype"),
    url("rouble-webfont.svg#ALSRublRegular") format("svg");
}

html {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: "Arial";
    font-size: 12px;
}

ol, ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/***** Price *****/
span.rub {
    font-size: 16px;
    font-weight: normal;
}

div.cart_product span.rub {
    font-size: 12px;
}

/****************/
body {
    position: relative;
}

header, footer, section {
    min-width: 1000px;
    margin: 0 auto;
}

div.clear {
    float: none;
    clear: both;
}

h1, .h1 {
    font-size: 25px !important;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin: 10px 0 !important;
}

h2, .h2 {
    font-size: 25px;
}

a {
    color: #55b6e4;
}

a:hover {
    color: #297be4;
}

p {
    text-align: justify;
}

label {
    cursor: pointer;
}

.hidden {
    display: none;
}

.alert-danger {
    font-size: 13px !important;
}

.btn {
    background: #fe8c00;
    background-image: -webkit-linear-gradient(top, #fe8c00, #fc6500);
    background-image: -moz-linear-gradient(top, #fe8c00, #fc6500);
    background-image: -ms-linear-gradient(top, #fe8c00, #fc6500);
    background-image: -o-linear-gradient(top, #fe8c00, #fc6500);
    background-image: linear-gradient(to bottom, #fe8c00, #fc6500);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(102, 102, 102, 0.5);
    -moz-box-shadow: 0 1px 4px rgba(102, 102, 102, 0.5);
    box-shadow: 0 1px 4px rgba(102, 102, 102, 0.5);
    color: #ffffff;
    font-size: 12px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.51);
    position: relative;
    top: 1px;
}

.btn:hover {
    background: #fe8c00;
    text-decoration: none;
    color: #ffffff;
}

.btn a {
    color: #ffffff !important;
    text-decoration: none !important;
    font-size: 12px !important;
}

.bold {
    font-weight: bold;
}

.col-md-6 {
    width: 50% !important;
    float: left;
}

/*************************** <header> ***************************/

header {
    height: 225px;
}

header div#header_top div#header_top_body,
header div#header div#header_body,
header div#header_bottom div#header_bottom_body {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

header div#header_top {
    width: 100%;
    height: 41px;
    background: url("../img/header_top_background.png") repeat-x scroll 0 0;
    color: #ffffff;
}

header div#header_top_body {
    padding-top: 8px;
}

header div#header_top div#header_geo {
    margin-left: 15px;
}

header div#header_top span#user_geo {
    text-decoration: underline;
    position: relative;
}

header div#header_top span#user_geo::after {
    height: 8px;
    background: url("../img/images_design.png") no-repeat scroll 0 -3px;
    right: -10px;
    position: absolute;
    top: 3px;
    width: 8px;
    content: "";
}

header div#header_top div#account {
    position: absolute;
    right: 25px;
    top: 8px;
}

header div#header_top div#account a {
    color: #ffffff;
    position: relative;
}

header div#header_top div#account a::before {
    height: 18px;
    background: url("../img/images_design.png") no-repeat scroll -30px 1px;
    left: -20px;
    position: absolute;
    top: -2px;
    width: 18px;
    content: "";
}

header div#header_top div#favorite {
    position: absolute;
    right: 260px;
    top: 8px;
}

header div#header_top div#favorite a {
    color: #ffffff;
    position: relative;
}

header div#header_top div#favorite a::before {
    height: 18px;
    background: url("../img/images_design.png") no-repeat scroll -10px -2px;
    left: -20px;
    position: absolute;
    top: -2px;
    width: 18px;
    content: "";
}

header div#header_top div#menu_top {
    position: absolute;
    left: 255px;
    top: 8px;
}

header div#header_top div#menu_top ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header div#header_top div#menu_top li {
    float: left;
    margin-left: 20px;
}

header div#header_top div#menu_top li:first-child {
    margin-left: 0;
}

header div#header_top div#menu_top a {
    color: #ffffff;
    text-decoration: underline;
}

section div.error_delimiter,
header div#header {
    width: 100%;
    height: 131px;
    position: relative;
}

section div.error_delimiter {
    height: 20px;
    margin-bottom: 20px;
}

section div.error_delimiter::after,
header div#header::after {
    width: 100%;
    height: 9px;
    background: url("../img/header_background_after.png") repeat-x scroll 0 -3px;
    left: 0;
    position: absolute;
    top: 100%;
    z-index: -1;
    content: "";
}

header div#header div#header_body {
    padding: 0 27px;
}

div#logo_small {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -265px -208px;
    height: 60px;
    position: relative;
    width: 115px;
    top: 5px;
    left: 0;
}

div#logo {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -338px 6px;
    width: 175px;
    height: 90px;
    position: relative;
}

header div#header div#logo_small div {
    position: absolute;
    bottom: -12px;
    font-size: 11px;
    color: #000000;
    width: 170px;
    left: -15px;
}
header div#header div#logo span {
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    color: #000000;
}

header div#header div#block_phone_search {
    left: 255px;
    top: 18px;
    position: absolute;
}

header div#header div#block_phone_search div#phone_mks_spb,
header div#header div#block_phone_search div#phone_all {
    float: left;
    width: 170px;
}

header div#header div#block_phone_search div.phone_num {
    font-size: 20px;
    font-weight: bold;
}

header div#header div#block_phone_search div.phone_num img {
    display: none !important;
}

header div#header div#block_phone_search div.phone_num span.phone_code,
header div#header div#block_phone_search div.phone_help {
    color: #888888 !important;
}

header div#header div#search {
    position: relative;
}

header div#header div#search form {
    position: relative;
    margin-top: 10px;
}

header div#header div#search input#text_search {
    width: 320px;
    height: 30px;
    font-size: 13px;
    padding: 5px 0 5px 3px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

header div#header div#search input#submit_search {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -52px -27px;
    border: none;
    cursor: pointer;
    height: 25px;
    width: 35px;
    position: absolute;
    right: 23px;
    bottom: 3px;
}

header div#header div#search input#submit_search:hover {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -53px 0;
}

header div#header div#search div#search_wrapper_container {
    background-color: #FFFFFF;
    position: absolute;
    max-width: 500px;
    z-index: 100;
    -webkit-border-radius: 3px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 3px;
    -moz-border-radius-topleft: 0;
    border-radius: 3px;
    border-top-left-radius: 0;
    box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.5);
}

header div#header div#search div#search_wrapper_container div.search_wrapper_product {
    white-space: nowrap;
    padding: 2px 5px;
}

header div#header div#search div#search_wrapper_container div.search_wrapper_product img {
    margin-right: 10px;
}

header div#header div#search div#search_wrapper_container div.search_wrapper_product a {
    color: #000000;
}

header div#header div#search div#search_wrapper_container div.search_wrapper_product a:hover {
    text-decoration: none;
}

header div#header div#search div#search_wrapper_container div.search_wrapper_product span.wrapper_price {
    font-weight: bold;
    margin-left: 5px;
}

header div#header div#search div#search_wrapper_container div.search_wrapper_product .rub {
    font-size: 13px !important;
}

header div#header div#search div#search_wrapper_container div.search_wrapper_product:hover,
header div#header div#search div#search_wrapper_container div.active {
    background-color: #e9e9e9;
    cursor: pointer;
}

header div#header div.header_title a {
    color: #333333 !important;
}

header div#header div.header_title {
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

header div#header div#call_time {
    position: absolute;
    top: 22px;
    left: 645px;
}

header div#header div#call_time div.call_time_help {
    color: #888888;
}

header div#header div#call_time div#call_button,
section div.product_body div.buy_1_click_form button {
    color: #888888;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    float: left;
    margin-top: 12px;
    cursor: pointer;
}

header div#header div#call_time div.header_title::before {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -7px -69px;
    content: "";
    height: 40px;
    left: -47px;
    position: absolute;
    top: -8px;
    width: 40px;
    z-index: -1;
}

header div#header div#call_time div#call_button:hover {
    text-decoration: underline;
}

header div#header div#cart_small {
    position: absolute;
    top: 22px;
    right: 30px;
}

header div#header div#cart_small div.btn {
    margin-top: 10px;
}

header div#header div#cart_small div.header_title::after {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -87px -34px;
    content: "";
    height: 40px;
    left: -43px;
    position: absolute;
    top: -8px;
    width: 40px;
    z-index: -1;
}

header div#header_bottom {
    width: 100%;
    height: 30px;
    padding-top: 20px;
}

header div#header_bottom_body {
    position: relative;
}

header div#header_bottom div#dignity1 {
    position: absolute;
    width: 220px;
    top: -5px;
    left: 105px;
}

section div.order_dignity div#dignity1 span::before,
header div#header_bottom div#dignity1 span::before {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -165px -38px;
    content: "";
    height: 33px;
    left: -70px;
    position: absolute;
    top: -10px;
    width: 70px;
    z-index: -1;
}

header div#header_bottom div#dignity2 {
    position: absolute;
    width: 140px;
    top: -5px;
    left: 395px;
}

section div.order_dignity div#dignity2 span::before,
header div#header_bottom div#dignity2 span::before {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -238px -42px;
    content: "";
    height: 33px;
    left: -50px;
    position: absolute;
    top: -10px;
    width: 40px;
    z-index: -1;
}

header div#header_bottom div#dignity3 {
    position: absolute;
    width: 150px;
    top: -5px;
    left: 575px;
}

section div.order_dignity div#dignity3 span::before,
header div#header_bottom div#dignity3 span::before {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -280px -48px;
    content: "";
    height: 40px;
    left: -40px;
    position: absolute;
    top: -10px;
    width: 40px;
    z-index: -1;
}

header div#header_bottom div#dignity4 {
    position: absolute;
    width: 170px;
    top: -5px;
    left: 795px;
}

section div.order_dignity div#dignity4 span::before,
header div#header_bottom div#dignity4 span::before {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -125px -39px;
    content: "";
    height: 40px;
    left: -50px;
    position: absolute;
    top: -10px;
    width: 40px;
    z-index: -1;
}

header div#header_bottom div.dignity span {
    font-size: 13px;
    font-style: italic;
    color: #888888;
    position: relative;
}

section div.order_dignity div#dignity1,
section div.order_dignity div#dignity2,
section div.order_dignity div#dignity3,
section div.order_dignity div#dignity4 {
    position: relative;
    margin-bottom: 60px;
}

section div.order_dignity div#dignity1 span::before {
    left: 60px;
    top: -40px;
}

section div.order_dignity div#dignity2 span::before,
section div.order_dignity div#dignity3 span::before,
section div.order_dignity div#dignity4 span::before {
    left: 75px;
    top: -40px;
}

/*}*/
/*header div#header_bottom div#dignity1 span{*/
/*background: #ffffff url("../img/images_design.png") no-repeat scroll -346px 0;*/
/*width: 315px;*/
/*height: 50px;*/
/*position: relative;*/
/*}*/

/************************** </header> **************************/

/************************** <404> ****************************/
div.error_404 {
    text-align: center;
}

div.error_404 div.logo {
    margin: 100px auto 0;
    width: 175px;
}

div.error_404 div.error_title {
    font-size: 60px;
    font-weight: bold;
}

div.error_404 div.error_link,
div.error_404 div.error_body {
    font-size: 16px;
    margin-bottom: 10px;
}

div.error_404 h3 {
    text-align: center;
}

div.error_404 div.product_list_small div.product_item_small_title {
    text-align: left;
}

div.error_404 div.product_list_small {
    margin: 0 auto;
    width: 1080px;
}

div.error_404 div.product_list_small div.product_item_small {
    margin: 0 15px !important;
}

/************************** </header> **************************/

/************************** <section> **************************/

section {
    margin-bottom: 20px;
    min-height: 460px;
}

section div#body {
    width: 1000px;
    margin: 0 auto;
}

section div#left_col {
    width: 210px !important;
    float: left;
    margin: 2px 0 20px 15px;
}

section div.categories {
    border: 3px solid #ffd300;
    border-radius: 3px;
}

section div.product_body div.categories_title,
section div.categories div.categories_title {
    padding: 10px 10px 10px 20px;
    color: #ffffff;
    background: #ffb500; /* Old browsers */
    background: -moz-linear-gradient(top, #ffb500 0%, #ffd300 0%, #ffb500 0%, #ffd300 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb500), color-stop(0%, #ffd300), color-stop(0%, #ffb500), color-stop(100%, #ffd300)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffb500 0%, #ffd300 0%, #ffb500 0%, #ffd300 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffb500 0%, #ffd300 0%, #ffb500 0%, #ffd300 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffb500 0%, #ffd300 0%, #ffb500 0%, #ffd300 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffb500 0%, #ffd300 0%, #ffb500 0%, #ffd300 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#ffd300', GradientType=0); /* IE6-9 */
    margin: -3px -3px -3px !important;
    border-radius: 3px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.51);
}

section div.product_body div.dropdown {
    float: left;
    position: relative;
    border: 3px solid #FFD300 !important;
    margin-right: 15px;
    border-radius: 3px;
}

section div.product_body div.categories_title {
    float: left;
    font-size: 14px;
    margin: -3px !important;
    padding: 5px 10px;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
    width: 209px !important;
}

section div.product_body div.dropdown,
section div.product_body a.dropdown-toggle:hover {
    text-decoration: none;
}

section div.product_navigation div.breadcrumbs {
    padding-top: 6px;
}

.dropdown-menu {
    margin: 0;
    left: -3px;
    border: 3px solid #FFD300 !important;
    -webkit-border-bottom-right-radius: 5px !important;
    -webkit-border-bottom-left-radius: 5px !important;
    -moz-border-radius-bottomright: 5px !important;
    -moz-border-radius-bottomleft: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.dropdown-menu > li > a {
    padding: 3px 5px !important;
    font-size: 13px !important;
}

.dropdown-menu > li a:hover,
.dropdown-menu > li a:focus {
    background-color: #FFFFFF !important;
    text-decoration: underline;
}

.dropdown-menu > li > a > img {
    margin-right: 5px;
    position: relative;
    top: -2px;
}

.dropdown-menu .divider {
    margin: 0 5px !important;
}

section div.categories div.category {
    position: relative;
    padding: 7px 0 0 7px;
    display: table;
}

section div.categories div.category_border {
    border-bottom: 1px solid #e6e6e6;
    height: 2px;
    margin: 0 5px 0 10px;
}

section div.categories div.category div.category_img {
    float: left;
    margin-right: 7px;
}

section div.categories div.category div.category_title {
    display: table-cell;
    vertical-align: middle;
}

section div.categories div.category div.category_title a {
    color: #000000;
}

section div.categories div.category div.selected a {
    color: #de1811;
}

section div#left_col div.reviews {
    margin-top: 30px;
}

section div#left_col div.reviews div.h4 {
    font-weight: bold !important;
}

section div#left_col div.review {
    margin-top: 20px;
    position: relative;
}

section div#left_col div.review_content {
    border: 2px #e6e6e6 solid;
    padding: 15px;
    position: relative;
    border-radius: 3px;
}

section div#left_col div.review_author {
    margin-top: 10px;
    padding-left: 10px;
}

section div#left_col div.review_author span.review_fio {
    font-weight: bold;
}

section div#left_col div.review_author span.review_date {
    color: #888888;
}

section div#left_col div.review_content:after {
    top: 100%;
    left: 25%;
    content: " ";
    position: absolute;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 0 0;
    border-color: #e6e6e6 transparent transparent transparent;
}

section div#left_col div.review .stars {
    background-color: #fff;
    left: 5px;
    padding: 0 5px;
    position: absolute;
    top: -6px;
    z-index: 10;
}

.rating {
    float: left;
    position: relative;
}

.rating:not(:checked) > input {
    /*position:absolute;*/
    display: none;
    /*clip:rect(0,0,0,0);*/
}

.rating:not(:checked) > label,
.stars:not(:checked) > label {
    float: right;
    width: 16px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 15px;
    line-height: 1.2;
    color: #e6e6e6;
}

.rating:not(:checked) > label:before,
.stars:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #ffd00f;
}

.stars .checked {
    color: #ffd00f !important;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #ffd00f;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ffd00f;
}

section div#left_col div.news {
    margin-top: 30px;
}

section div#left_col div.news .h4 {
    font-weight: bold;
}

section div#left_col div.news div.news_item {
    margin-bottom: 10px;
}

section div#left_col div.news div.news_item div.news_date,
section div#left_col div.news div.news_all a {
    color: #888888 !important;
}

section div#center_col {
    width: 720px;
    margin-left: 30px;
    float: left;
}

section div#center_col div.product_item {
    width: 225px;
    height: 285px;
    text-align: center;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    position: relative;
}

section div#center_col div.product_item_list div:nth-child(3n+3) {
    margin-right: 0;
}

section div#center_col div.product_item div.product_price,
section div#center_col div.product_item div.product_title {
    margin-top: 10px;
    text-align: left;
    position: relative;
}

section div#center_col div.product_item div.product_in_stock,
section div#center_col div.product_item div.product_not_in_stock {
    position: absolute;
    left: 0;
    top: 185px;
    color: #85c70d;
    font-size: 11px;
}

section div#center_col div.product_item div.product_not_in_stock {
    color: #888888;
}

section div#center_col div.product_item div.product_title {
    font-size: 14px;
    height: 20px;
    margin-top: 20px;
    overflow: hidden;
}

section div#center_col div.product_item div.product_price div {
    float: left;
}

section div#center_col div.product_item div.product_price div.price {
    margin-right: 15px;
    font-size: 22px;
    font-weight: bold;
}

section div#center_col div.product_item .arrow_box,
section div#center_col div.product_item_small .arrow_box {
    position: absolute;
    color: #ffffff;
    padding: 10px;
    top: -48px;
    right: -40px;
    width: 170px;
    background: rgb(254, 139, 0);
    background: -moz-linear-gradient(top, rgba(254, 139, 0, 1) 0%, rgba(250, 111, 12, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 139, 0, 1)), color-stop(100%, rgba(250, 111, 12, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(254, 139, 0, 1) 0%, rgba(250, 111, 12, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(254, 139, 0, 1) 0%, rgba(250, 111, 12, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(254, 139, 0, 1) 0%, rgba(250, 111, 12, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(254, 139, 0, 1) 0%, rgba(250, 111, 12, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe8b00', endColorstr='#fa6f0c', GradientType=0); /* IE6-9 */
    border-radius: 5px;
    display: none;
    box-shadow: 1px 2px 2px rgba(102, 102, 102, 0.5);
    z-index: 100;
}

section div#center_col div.product_item .arrow_box:after,
section div#center_col div.product_item_small .arrow_box:after {
    top: 100%;
    left: 53%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(254, 139, 0, 0);
    border-top-color: #fa6f0c;
    border-width: 10px;
    margin-left: -10px;
}

section div.product_item div.container_bnt,
section div.product_item_small div.container_bnt {
    position: relative;
}

section div.product_item div.product_to_cart,
section div.product_item_small div.product_to_cart {
    color: #888888;
    cursor: pointer;
    border: 1px solid #dddddd;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, #dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, #dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, #dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, #dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, #dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8f8f8', GradientType=0); /* IE6-9 */
}

section div.product_item div.product_to_cart,
section div.product_item_small div.product_to_cart {
    color: #888888 !important;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

section div#center_col div.product_item .arrow_box a {
    color: #ffffff !important;
    text-decoration: underline;
}

section div.product_price div.subscribe {
    padding: 5px 10px;
    font-size: 12px !important;
}

section div#center_col div.main_index h1 {
    margin: 40px 0 20px !important;
}

section div#center_col div.description p {
    text-indent: 25px;
}

section div#center_col div.description {
    margin-bottom: 30px;
}

section div.category_list {
    margin: 20px 0;
}

section div.category_list div.category_main {
    float: left;
    text-align: center;
    width: 144px;
    margin: 10px 0;
}

section div.category_list div.category_main a {
    color: #000000;
}

/******* Breadcrumbs **********/
section div#center_col div.breadcrumbs {
    width: 100%;
}

section div#center_col div.breadcrumbs ul {
    margin: 0;
    padding: 0;
}

section div#center_col div.breadcrumbs ul li {
    color: #6c6c6c;
    display: inline;
    font-size: 12px;
    list-style: outside none none;
    margin: 0 1px 0 0;
}

/***************************/

/******* Pages **********/
section div#block_pages {
    margin-bottom: 15px;
}

section div#block_pages div#show_more,
section div#block_pages div#pages_container {
    overflow: hidden;
    width: 100%;
    padding: 5px 0;
}

section div#block_pages ul {
    float: left;
    left: 50%;
    position: relative;
    margin: 0;
}

section div#block_pages ul li {
    float: left;
    list-style: outside none none;
    position: relative;
    right: 50%;
}

section div#cart_body div.del,
section div#cart_body div.add,
section div.product_price div.subscribe,
section div#block_pages ul li a,
section div#site_index div#block_filters ul li.filter {
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #888888;
    cursor: pointer;
    border: 1px solid #dddddd;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(248, 248, 248, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8f8f8', GradientType=0); /* IE6-9 */
}

section div#block_pages ul li a {
    width: 30px;
    margin: 0 3px;
    padding: 5px;
}

section div#block_pages ul li a:hover {
    text-decoration: underline;
}

section div#block_pages div#show_more ul li a {
    width: 300px;
}

section div#block_pages div#pages_container a.beginning {
    width: 80px;
}

section div#cart_body div.remove {
    font-size: 25px;
    cursor: pointer;
    color: #c0c0c0;
}

/***************************/

/************Tabs***********/
.nav-tabs {
    border-bottom: 2px solid #f1f1f1;
    height: 52px;
}

.nav-tabs > li {
    margin: 0 -3px 0 0 !important;
    border-style: solid;
    border-color: #f1f1f1 #ffffff #ffffff #f1f1f1 !important;
    border-width: 2px !important;
    border-radius: 3px !important;
    height: 53px !important;
}

.nav-tabs > li.active > a {
    margin-bottom: -2px !important;
}

.nav-tabs a {
    margin-right: 0 !important;
    height: 50px;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover {
    background: #f7f7f7 !important;
    border-style: solid;
    border-color: #ffffff !important;
    border-width: 0 !important;
    border-radius: 0 !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #ffffff !important;
    font-weight: bold;
}

.tab-content {
    margin-top: 5px;
}

ul.nav-tabs a {
    color: #9e9e9e;
    font-size: 20px;
}

ul.nav-tabs li:last-child {
    border-color: #f1f1f1 #f1f1f1 #ffffff !important;
}

/***************************/

/******* Category **********/
section div#site_index div#block_filters {
    background: #f7f7f7;
    height: 53px;
    width: 100%;
    padding: 12px 22px;
    border-radius: 3px;
}

section div#site_index div#block_filters div#clear_all {
    float: right;
}

section div#site_index div#block_filters ul li {
    float: left;
    margin-right: 10px;
    padding: 5px 10px;
    position: relative;
}

section div#site_index div#block_filters ul li div.selected_filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #ffffff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#26b8f1+0,0192ca+100,0192ca+100 */
    background: rgb(38, 184, 241); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(38, 184, 241, 1) 0%, rgba(1, 146, 202, 1) 100%, rgba(1, 146, 202, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(38, 184, 241, 1)), color-stop(100%, rgba(1, 146, 202, 1)), color-stop(100%, rgba(1, 146, 202, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(38, 184, 241, 1) 0%, rgba(1, 146, 202, 1) 100%, rgba(1, 146, 202, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(38, 184, 241, 1) 0%, rgba(1, 146, 202, 1) 100%, rgba(1, 146, 202, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(38, 184, 241, 1) 0%, rgba(1, 146, 202, 1) 100%, rgba(1, 146, 202, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(38, 184, 241, 1) 0%, rgba(1, 146, 202, 1) 100%, rgba(1, 146, 202, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#26b8f1', endColorstr='#0192ca', GradientType=0); /* IE6-9 */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 7px 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

section div#site_index div#block_filters ul li div.selected_filter:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5adaff+0,0192ca+100,0292ca+100 */
    background: rgb(90, 218, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(90, 218, 255, 1) 0%, rgba(1, 146, 202, 1) 100%, rgba(2, 146, 202, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(90, 218, 255, 1)), color-stop(100%, rgba(1, 146, 202, 1)), color-stop(100%, rgba(2, 146, 202, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(90, 218, 255, 1) 0%, rgba(1, 146, 202, 1) 100%, rgba(2, 146, 202, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(90, 218, 255, 1) 0%, rgba(1, 146, 202, 1) 100%, rgba(2, 146, 202, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(90, 218, 255, 1) 0%, rgba(1, 146, 202, 1) 100%, rgba(2, 146, 202, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(90, 218, 255, 1) 0%, rgba(1, 146, 202, 1) 100%, rgba(2, 146, 202, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5adaff', endColorstr='#0292ca', GradientType=0); /* IE6-9 */
}

section div#site_index div#block_filters ul li div.selected_filter::after {
    background: rgba(0, 0, 0, 0) url("../img/images_design.png") no-repeat scroll -9px -144px;
    content: "";
    height: 20px;
    right: 5px;
    position: absolute;
    top: 5px;
    width: 20px;
}

section div#site_index div#block_filters ul li.active div.selected_filter {
    display: block;
}

section div#site_index div#block_filters ul li div.select_filters {
    position: absolute;
    top: 45px;
    left: -40px;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    width: 180px;
    text-align: left;
    padding-top: 15px;
}

section div#site_index div#block_filters ul li div.select_filters div.filter_checked {
    margin-left: 20px;
    position: relative;
    height: 25px;
}

section div#site_index div#block_filters ul li div.select_filters div.filter_checked input[type="checkbox"] {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 !important;
}

section div#site_index div#block_filters ul li div.select_filters div.filter_checked label {
    color: #5d5d5d;
    margin-bottom: 0 !important;
    margin-left: 20px !important;
    position: relative;
    top: -2px;
}

section div#site_index div#block_filters ul li div.select_filters:after,
section div#site_index div#block_filters ul li div.select_filters:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

section div#site_index div#block_filters ul li div.select_filters:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}

section div#site_index div#block_filters ul li div.select_filters:before {
    border-color: rgba(192, 192, 192, 0);
    border-bottom-color: #e2e2e2;
    border-width: 11px;
    margin-left: -11px;
}

section div#site_index div#block_filters ul li div.filter_btn {
    background-color: #f7f7f7;
    height: 48px;
    padding: 10px 10px 10px 20px;
    width: 100%;
    margin-top: 10px;
}

section div#block_sort_count div#block_count {
    float: right;
}

section div#block_sort_count ul li {
    float: left;
    margin-right: 10px;
    font-style: italic;
    color: #888888;
    font-size: 13px;
}

section div#block_sort_count ul li a {
    color: #888888;
    text-decoration: underline;
}

section div#block_sort_count li.active,
section div#block_sort_count li.active a {
    color: #de1811;
}

section div.category_index {
    position: relative;
}

section div.category_index .category_img {
    position: absolute;
    top: 0;
    left: 0;
}

section div.category_index h1 {
    font-size: 35px !important;
    font-weight: bold !important;
    margin: 20px 0 20px 120px !important;
    padding-top: 20px;
}

section div.search_index h1 {
    font-size: 35px !important;
    font-weight: bold !important;
    margin: 20px 0 !important;
}

section div.search_index div.product_not_search {
    font-size: 18px;
    margin-bottom: 20px;
}

section div.search_index div.product_not_search .search_word {
    color: #FF0000;
}

section div.search_index div.product_not_search_help {
    font-size: 13px;
}

section div.search_index h3 {
    font-weight: bold;
    margin-top: 50px !important;
}

section div.search_index div.product_item_small {
    margin-right: 30px !important;
}

/***************************/

/*******Information*********/
section div#information h1 {
    font-size: 35px !important;
    font-weight: bold !important;
}

section div.product_body div.payment_description,
section div.product_body div.payment_alarm,
section div#information div.payment_description,
section div#information div.payment_alarm {
    margin-bottom: 20px;
}

section div.product_body div.payment_description,
section div.product_body div.payment_alarm,
section div.product_body div.payment_block,
section div#information div.payment_description,
section div#information div.payment_alarm,
section div#information div.payment_block {
    font-size: 14px;
}

section div.product_body div.payment_block,
section div#information div.payment_block {
    padding-left: 120px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
}

section div.product_body div.payment_block {
    padding-left: 70px;
}

section div.product_body div.payment_block div.payment_title,
section div#information div.payment_block div.payment_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
}

section div.product_body div.payment_block div#pay_b::before,
section div.product_body div.payment_block div#pay_n::before,
section div.product_body div.payment_block div#pay_e::before,
section div#information div.payment_block div#pay_b::before,
section div#information div.payment_block div#pay_n::before,
section div#information div.payment_block div#pay_e::before {
    content: "";
    height: 45px;
    left: -70px;
    position: absolute;
    top: -3px;
    width: 65px;
    z-index: -1;
}

section div.product_body, div.payment_block div#pay_e::before,
section div#information div.payment_block div#pay_e::before {
    left: -80px;
}

section div.product_body div.payment_block div#pay_b::before,
section div#information div.payment_block div#pay_b::before {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -10px -196px;
}

section div.product_body div.payment_block div#pay_n::before,
section div#information div.payment_block div#pay_n::before {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -70px -196px;
}

section div.product_body div.payment_block div#pay_e::before,
section div#information div.payment_block div#pay_e::before {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -135px -196px;
}

section div#information div.contact_block {
    margin-bottom: 20px;
}

section div#information div.contact_block div.contact_title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    position: relative;
}

section div#information div.contact_block div.contact_description {
    font-size: 13px;
}

section div.information h4,
section div.information h5 {
    font-weight: bold;
}

section div.information h5 {
    margin: 10px 0 2px;
}

section div.information {
    font-size: 13px;
}

/***************************/

/**********Tags**********/
section div.tags_index h1 {
    font-size: 35px !important;
    font-weight: bold;
}

section div.tags_index div.row {
    border-bottom: 1px #f1f1f1 solid;
    padding: 20px 0;
}

section div.tags_index div.tags_title,
section div.tags_index div.group_count {
    color: #888888;
    font-size: 12px;
    padding: 5px 0;
}

section div.tags_index div.group_title {
    font-size: 18px;
    text-decoration: underline;
    margin-top: -7px;
}

section div.tags_index div.row a {
    margin-right: 10px;
    display: inline-block;
}

/***************************/

/**********Product**********/
section div.product_body div.info_user {
    width: 100%;
    height: 30px;
}

section div.product_body div.info_user div {
    float: left;
    margin-right: 10px;
}

section div.product_body div.info_user .pseudo_link {
    border-bottom: 1px dotted #0a0a0a;
}

section div.product_body {
    width: 970px !important;
}

section div.product_body div.product_navigation {
    height: 40px;
}

section div.product_body h1 {
    font-size: 32px !important;
    font-weight: bold !important;
}

section div.product_body div#product_reviews,
section div.product_body div#product_favorite,
section div.product_body div#product_tags {
    font-size: 13px;
}

section div.product_body div.info_product {
    margin-bottom: 10px;
}

section div.product_body div.info_product div.info_product_photo,
section div.product_body div.info_product div.info_product_photo ul {
    float: left;
    margin-right: 10px;
}

section div.product_body div.info_product div.info_product_photo ul li {
    padding: 2px;
    margin-bottom: 5px;
    cursor: pointer;
}
section div.product_body div.info_product div.info_product_photo li.prev_video {
    position: relative;
    height: 50px;
    width: 50px;
    padding: 0;
    border: 2px solid #ffffff;
    border-radius: 4px;
}

section div.product_body div.info_product div.info_product_photo li.prev_video::before {
    background: #ffff11 url("../img/images_design.png") no-repeat scroll -213px -188px;
    content: " ";
    height: 47px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 46px;
    z-index: -1;
}

section div.product_body div.info_product div.info_product_photo ul li.active {
    padding: 0;
    border: 2px solid #fe8c00;
    border-radius: 4px;
}

section div.product_body div.info_product div.info_product_photo div#container_media {
    float: left;
}

section div.product_body div.info_product div.info_product_photo div.container_video {
    display: none;
    margin-bottom: 100px;
}


section div.product_body div.info_product div.info_product_box {
    width: 300px;
    float: left;
    margin-left: 10px;
}

section div.product_body div.info_product div.price span {
    font-size: 30px;
    font-weight: normal;
}

section div.product_body div.info_product div.price {
    font-size: 40px;
    font-weight: bold;
}

section div.product_body div.info_product div.old_price {
    color: #747474;
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: -10px;
    padding-right: 2px;
    position: relative;
}

section div.product_body div.info_product div.old_price::after {
    position: absolute;
    top: 15px;
    border-bottom: 2px #747474 solid; /* цвет зачеркивающей линии */
    display: inline;
    content: " ";
    width: 100%;
    height: 2px;
    left: 0;
}

section div.product_item div.product_price div.old_price {
    position: relative;
    top: 10px;
    font-size: 12px;
    margin-right: 5px;
    text-decoration: line-through;
}

section div.product_item div.has_old_price {
    width: 145px;
}

section div.product_item div.has_old_price div.price {
    margin-right: 0 !important;
}

section div.product_item div.product_price div.old_price span.rub {
    font-size: 10px !important;
}

section div.product_item div.product_price div.sale,
section div.product_list_small div.product_price div.sale,
section div.product_body div.info_product div.sale {
    color: #e12721 !important;
}

section div.product_body div.info_product div.balls {
    font-size: 13px;
    color: #fd7000;
    margin-bottom: 7px;
}

section div.product_body div.info_product div.quantity {
    font-size: 13px;
    color: #95ce2d;
    margin-bottom: 11px;
}

section div.product_body div.info_product div.btn {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding-top: 8px;
}

section div.product_body div.info_product div.product_to_cart {
    color: #888888;
    cursor: pointer;
    border: 1px solid #dddddd;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, #dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, #dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, #dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, #dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, #dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8f8f8', GradientType=0); /* IE6-9 */
}

section div.product_body div.info_product div.product_to_cart {
    font-size: 16px !important;
    color: #888888 !important;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

section div.product_body div.info_product div.buy_1_click {
    margin-bottom: 15px;
}

section div.product_body div.info_product div.buy_1_click div.buy_1_click_form {
    margin-bottom: 5px;
}

section div.product_body div.info_product div.buy_1_click div.buy_1_click_text {
    font-size: 12px;
    color: #a8a8a8;
}

section div.product_body div.info_product div.buy_1_click div.buy_1_click_form h4 {
    margin-bottom: 5px !important;
}

section div.product_body div.info_product div.not_in_stock {
    color: #9e9e9e;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

section div.product_body div.buy_1_click_form input {
    width: 182px;
    margin-right: 10px;
    font-size: 13px;
    top: 1px;
    position: relative;
}

section div.product_body div.buy_1_click_form button {
    float: none;
    color: #888888;
    cursor: pointer;
    border: 1px solid #dddddd;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(248, 248, 248, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8f8f8', GradientType=0); /* IE6-9 */
}

section div.product_body div.buy_1_click_form button:hover {
    text-decoration: underline;
}

section div.product_body div.info_product_shipping {
    width: 220px;
    float: left;
    border: 1px #c0c0c0 solid;
}

section div.product_body div.main_info {
    background-color: #f7f7f7;
    margin: 0 !important;
    padding: 10px;
    line-height: 1.5;
}

section div.product_body div.main_info div.col-md-6 {
    overflow: hidden;
}

section div.product_body div.main_info div.col-md-6:nth-child(2n+1)::after {
    color: #cccccc;
    content: "__________________";
    height: 2px;
    padding-left: 10px;
    position: relative;
    top: -5px;
    width: 100%;
}

section div.product_body div.viewed_product span.rub,
section div.product_list_small span.rub {
    font-size: 14px;
}

section div.product_body div.viewed_product div.price,
section div.product_list_small div.price {
    font-size: 18px;
    font-weight: bold;
}

section div.product_list_small {
    margin-bottom: 20px;
    overflow: hidden;
}

section div.product_list_small div.product_item_small {
    width: 150px;
    height: 230px;
    float: left;
    margin-right: 30px;
}

section div.product_list_small div.product_item_small_title {
    height: 38px;
    overflow: hidden;
}

section div.product_list_small div.product_price div.price {
    float: left;
    margin-right: 5px;
}

section div.product_list_small div.product_price div.btn {
    position: relative;
    top: -3px;
}

section div.product_body div.viewed_product {
    margin-bottom: 20px;
    height: 120px;
    overflow: hidden;
}

section div.product_body div.viewed_product div.viewed_item {
    width: 210px;
    height: 80px;
    float: left;
    margin-right: 30px;
    position: relative;
}

section div.product_body div.viewed_product div.viewed_item img {
    position: absolute;
}

section div.product_body div.viewed_product div.viewed_title {
    overflow: hidden;
    margin-left: 60px;
}

section div.product_body div.tabs_product {
    margin-bottom: 20px;
}

section div.product_body div.description {
    font-size: 14px;
}

section div.product_body div.text {
    padding-left: 2px;
}

section div.product_body div.attribute_info {
    padding: 10px 0 10px 2px;
    line-height: 1.5;
}

section div.product_body div.attribute_info div.col-md-3 {
    color: #6c6c6c;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 20px;
}

section div.product_body div.attribute_info div.col-md-9 {
    font-size: 14px;
    overflow: hidden;
    margin-bottom: 20px;
}

section div.product_body div.attribute_info div.col-md-3::after {
    color: #e4e4e4;
    content: "____________________________";
    height: 2px;
    padding-left: 10px;
    position: relative;
    top: -5px;
    width: 100%;
}

section div.product_body .nav > li > a {
    padding: 10px 25px !important;
}

section div.product_body div.reviews_info div.add_review {
    padding: 20px;
    background-color: #f7f7f7;
    margin: 40px 0;
}
section div.product_body div.reviews_info div.add_review .btn{
    font-size: 16px;
    padding: 10px 30px;
}
section div#modalReview div#review_error {
    display: none;
}


section div.reviews_info div.h4 {
    font-weight: bold !important;
}

section div.reviews_info div.review{
    margin-bottom: 30px;
    position: relative;
}

section div.reviews_info div.review_content {
    border: 2px #e6e6e6 solid;
    padding: 15px;
    position: relative;
    border-radius: 3px;
    font-size: 14px;
}

section div.reviews_info div.review_author {
    margin-top: 10px;
    padding-left: 10px;
}

section div.reviews_info div.review_author span.review_fio {
    font-weight: bold;
}

section div.reviews_info div.review_author span.review_date {
    color: #888888;
}

section div.reviews_info div.review_content:after {
    top: 100%;
    left: 5%;
    content: " ";
    position: absolute;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 0 0;
    border-color: #e6e6e6 transparent transparent transparent;
}

section div.reviews_info div.review .stars {
    background-color: #fff;
    left: 5px;
    padding: 0 5px;
    position: absolute;
    top: -6px;
    z-index: 10;
}

/***************************/

/***********Cart************/
section div#cart_body {
    width: 1000px;
}

section div#cart_body div.tab-content table {
    margin: 0 !important;
}

section div#cart_body div.tab-content table th {
    border-top: 0 #ffffff solid;
}

section div#cart_body div.tab-content table td {
    vertical-align: middle;
}

section div#cart_body div.tab-content table td img {
    margin-right: 10px;
}

section div#cart_body div.tab-content table td.cart_product_title,
section div#cart_body div.tab-content table td.td_product_quantity {
    font-size: 14px;
}

section div#cart_body div.tab-content table td.cart_product_price,
section div#cart_body div.tab-content table td.cart_product_total_price,
section div#cart_body div.tab-content table td.cart_product_total_title,
section div#cart_body div.tab-content table td.cart_product_total {
    text-align: right !important;
    font-size: 22px;
}

section div#cart_body div.tab-content table td.cart_product_total #total {
    font-size: 30px !important;
}

section div#cart_body div.tab-content table td.cart_product_total_title {
    text-align: left !important;
}

section div#cart_body div.tab-content table th.center,
section div#cart_body div.tab-content table td.td_product_quantity {
    text-align: center !important;
}

section div#cart_body div.tab-content table td.cart_product_total_price {
    width: 150px;
}

section div#cart_body div.tab-content table td.cart_product_total_price,
section div#cart_body div.tab-content table td.cart_product_total {
    font-weight: bold;
}

section div#cart_body div.tab-content table th.right,
section div#cart_body div.tab-content table td.cart_product_total {
    text-align: right !important;
}

section div#cart_body div.order_contact {
    position: relative;
}

section div#cart_body div.tab-content table .td_product_quantity {
    width: 106px !important;
}

section div#cart_body div.tab-content table .cart_product_quantity {
    width: 30px;
    text-align: center;
    float: left;
}

section div#cart_body div.tab-content table .del,
section div#cart_body div.tab-content table .add {
    float: left;
    width: 20px;
    height: 20px;
    margin: 3px 5px 0;
}

section div#cart_body div.tab-content table td.td_product_quantity div.quantity_in_stock {
    font-size: 11px;
    color: #FF0000;
}

section div#cart_body div.container_button_order {
    background-color: #f7f7f7;
    width: 100%;
    height: 100px;
    position: relative;
}

section div#cart_body div.container_button_order div.btn {
    position: absolute;
    width: 250px;
    height: 50px;
    right: 30px;
    top: 20px;
    font-size: 16px;
    padding-top: 14px;
}

section div#cart_body div.container_button_order div.btn_help {
    position: absolute;
    height: 50px;
    right: 70px;
    top: 65px;
    font-size: 12px;
    color: #6c6c6c;
    padding-top: 12px;
}

section div#cart_body div.order_contact div.order_body {
    width: 720px;
    padding-top: 20px;
}

section div#cart_body div.col-md-3 {
    padding-left: 0 !important;
}

section div.order div.order_contact,
section div#cart_body div.order_contact div.order_body div.order_account,
section div#cart_body div.order_contact div.order_body div.order_contact,
section div#cart_body div.order_contact div.order_body div.order_shipping,
section div#cart_body div.order_contact div.order_body div.order_shipping_info,
section div#cart_body div.order_contact div.order_body div.order_payment,
section div#cart_body div.order_contact div.order_body div.order_comment,
section div#cart_body div.order_contact div.order_body div.order_button {
    background-color: #f7f7f7;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 10px 40px;
}

section div#cart_body div.order_contact div.order_body div.order_button {
    padding: 20px 40px;
}

section div#cart_body div.order_contact div.order_dignity {
    width: 200px;
    height: 340px;
    position: absolute;
    top: 20px;
    right: 0;
    border: 1px solid #f7f7f7;
    border-radius: 2px;
    text-align: center;
    padding-top: 60px;
    font-size: 14px;
    color: #b6b6b6;
}

section div#cart_body div.order_contact div.order_body div.order_account li {
    font-size: 14px;
    float: left;
    margin-right: 10px;
    padding: 5px 15px;
}

section div#cart_body div.order_contact div.order_body div.order_account li.active {
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px #e1e1e1 solid;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

section div#cart_body div.order_contact div.order_body div.order_account li span {
    border-bottom: 1px #000000 dotted;
}

section div#cart_body div.order_contact div.order_body div.order_account li.active span {
    border-bottom: 0 #ffffff solid;
}

section div#cart_body div.order_contact div.order_body h2 {
    font-size: 24px !important;
    font-weight: bold !important;
}

section div#cart_body div.order_contact div.order_body div.order_shipping_info .control-label,
section div#cart_body div.order_contact div.order_body div.order_contact .control-label {
    font-size: 13px !important;
    font-weight: normal !important;
    padding-top: 7px;
}

section div#cart_body div.order_contact div.order_body div.order_summ {
    position: relative;
    padding: 5px 40px 20px;
}

section div#cart_body div.order_contact div.order_body div.order_summ h2 {
    font-size: 22px !important;
    font-weight: normal !important;
}

section div#cart_body div.order_contact div.order_body div.order_summ div#total_summ {
    position: absolute;
    top: 5px;
    right: 40px;
    font-weight: bold;
    font-size: 30px;
}

section div#cart_body div.order_contact div.order_body div.order_summ div#total_summ span {
    font-size: 22px;
}

section div#cart_body div.order_contact div.order_body div.order_summ div#total_summ span#total_summ_only {
    font-size: 30px;
}

section div#cart_body div.order_contact div.order_body div.order_button .btn {
    width: 250px !important;
    height: 50px !important;
    font-size: 18px;
    font-weight: bold;
    float: right;
    border-radius: 5px;
}

section div#cart_body div.order_contact div.order_body div.order_button div.change_order {
    padding-top: 20px;
    font-size: 13px;
    cursor: pointer;
}

section div#cart_body div.order_contact div.order_body div.order_button div.change_order span {
    text-decoration: underline;
}

section div#cart_body div.order_contact div.form-group div.col-md-10 {
    margin-bottom: 15px;
}

section div#cart_body div.order_contact div.error {
    position: absolute;
    top: 40px;
}

section div#cart_body div.order_contact div.order_help_index,
section div#cart_body div.order_contact div.order_help_region,
section div#cart_body div.order_contact div.order_help_city,
section div#cart_body div.order_contact div.order_help_address_post,
section div#cart_body div.order_contact div.order_help_fio,
section div#cart_body div.order_contact div.order_help_fio_post,
section div#cart_body div.order_contact div.order_help_phone,
section div#cart_body div.order_contact div.order_help_email {
    position: absolute;
    left: 170px;
    top: 35px;
    color: #bfbfbf;
    font-size: 10px;
}

section div#cart_body div.order_contact div.order_help_index,
section div#cart_body div.order_contact div.order_help_region,
section div#cart_body div.order_contact div.order_help_city,
section div#cart_body div.order_contact div.order_help_address_post,
section div#cart_body div.order_contact div.order_help_fio_post {
    left: 185px;
}

section div#cart_body div.order_contact div.form-group {
    position: relative;
}

section div#cart_body div.order_contact span#order_shipping_geo {
    border-bottom: 1px dashed #000000;
    cursor: pointer;
}

section div#cart_body div.order_payment div.col-md-1,
section div#cart_body div.order_shipping div.col-md-1 {
    width: auto !important;
    padding: 1px 0 0 0 !important;
}

section div#cart_body div.order_payment div.col-md-7,
section div#cart_body div.order_shipping div.col-md-7 {
    font-size: 14px;
}

section div#cart_body div.order_payment label,
section div#cart_body div.order_shipping label {
    font-weight: normal;
    padding: 0 !important;
}

section div#cart_body div.order_payment h2,
section div#cart_body div.order_shipping h2,
section div#cart_body div.order_payment div.form-group,
section div#cart_body div.order_shipping div.form-group {
    margin-bottom: 20px !important;
}

section div#cart_body div.order_payment div.order_help_text {
    color: #adadad;
    font-size: 12px;
    position: relative;
    top: -5px;
}

section div#cart_body div.order_contact div.order_body div.order_shipping_info {
    position: relative;
    display: none;
}

section div#body div#cart_null {
    text-align: center;
    padding-top: 230px;
}

section div#body div#cart_null h2 {
    font-size: 30px;
    font-weight: bold;
    position: relative;
}

section div#body div#cart_null h2::before {
    height: 120px;
    background: url("../img/images_design.png") no-repeat scroll -370px -100px;
    left: 280px;
    position: absolute;
    top: -140px;
    width: 150px;
    content: "";
}

section div#body div#cart_null div.description {
    font-size: 14px;
}

/***************************/

/***********Order**********/

section div.order {
    font-size: 14px;
    padding: 20px;
    border: 1px solid #e6e6e6;
}

section div.order div {
    margin-bottom: 10px;
}

section div.order h1 {
    font-size: 35px !important;
    font-weight: bold !important;
    margin-bottom: 20px !important;
}

section div.order div.order_title {
    font-size: 18px;
}

section div.order span.order_number {
    color: #df1811;
}

section div.order th,
section div.order td.cart_product_title span,
section div.order span.order_date {
    color: #888888;
    font-weight: normal;
}

section div.order span.order_phone {
    font-weight: bold;
}

section div.order div.main_info {
    background-color: #f7f7f7;
    margin: 0 !important;
    padding: 10px;
    line-height: 1.5;
    font-size: 14px;
}

section div.order div.order_contact div.col-md-6 {
    overflow: hidden;
    white-space: nowrap;
}

section div.order div.order_contact div.col-md-6:nth-child(2n+1) {
    width: 35%;
}

section div.order div.order_contact div.col-md-6:nth-child(2n+1)::after {
    color: #e3e3e3;
    content: "________________________________________________________________";
    height: 2px;
    padding-left: 10px;
    position: relative;
    top: -5px;
    width: 100%;
}

/***************************/

/************************** </section> *************************/

/************************** <footer> **************************/

footer {
    height: 150px;
    background-color: #0091c9;
}

footer div#footer {
    width: 1000px;
    margin: 0 auto;
}

footer div#footer div#footer_top {
    height: 65px;
}

footer div#footer div#footer_border {
    width: 100%;
    height: 4px;
    background: url("../img/footer_border.png") repeat-x scroll 0 0;
}

footer div#footer div#social {
    float: right;
    padding-top: 15px;
}

footer div#footer div#footer_top_links {
    padding-top: 25px;
}

footer div#footer div#footer_top_links ul,
footer div#footer div#social ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

footer div#footer div#footer_top_links li,
footer div#footer div#social li {
    float: left;
}

footer div#footer div#footer_top_links li {
    margin-right: 20px;
    font-weight: bold;
    font-size: 14px;
}

footer div#footer div#footer_top_links a {
    color: #ffffff;
    text-decoration: underline;
}

footer div#footer div#social div.ok,
footer div#footer div#social div.fb,
footer div#footer div#social div.vk,
footer div#footer div#social div.tw,
footer div#footer div#social div.yt,
footer div#footer div#social div.in {
    width: 37px;
    height: 35px;
}

footer div#footer div#social div.ok {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -264px -147px;
}

footer div#footer div#social div.fb {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -148px -147px;
}

footer div#footer div#social div.vk {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -71px -147px;
}

footer div#footer div#social div.tw {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -108px -147px;
}

footer div#footer div#social div.yt {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -186px -147px;
}

footer div#footer div#social div.in {
    background: #ffffff url("../img/images_design.png") no-repeat scroll -226px -147px;
}

footer div#footer div#footer_bottom {
    color: #98dbf5;
    position: relative;
    height: 80px;
}

footer div#footer div#footer_bottom div#footer_bottom_title {
    padding-top: 20px;
}

footer div#footer div#footer_bottom div#footer_bottom_phone {
    position: absolute;
    left: 300px;
    top: 15px;
}

footer div#footer div#footer_bottom div#footer_bottom_phone::after {
    height: 25px;
    background: url("../img/images_design.png") no-repeat scroll 0 -110px;
    left: -24px;
    position: absolute;
    top: -3px;
    width: 18px;
    content: "";
}

footer div#footer div#footer_bottom div#footer_bottom_email {
    position: absolute;
    left: 450px;
    top: 20px;
    text-decoration: underline;
    cursor: pointer;
}

footer div#footer div#footer_bottom div#footer_bottom_email::after {
    height: 25px;
    background: url("../img/images_design.png") no-repeat scroll -18px -110px;
    left: -23px;
    position: absolute;
    top: -3px;
    width: 25px;
    content: "";
}

/************************** </footer> *************************/
div.sitemap ul {
    margin-left: 20px;
}

div.product {
    float: left;
    margin-right: 20px;
    border: 2px solid #000000;
    width: 200px;
    height: 100px;
}

.geo-body ul {
    float: left;
    width: 20%;
    padding-left: 10px;
    font-size: 12px;
}

.geo-body ul li {
    position: relative;
    margin-bottom: 3px;
    cursor: pointer;
}

.geo-body ul li:hover {
    text-decoration: underline;
}

.geo-body ul li .geo_word {
    position: absolute;
    left: -15px;
    font-size: 12px;
    color: #6c6c6c;
}

div#modalFeedback div.help-block {
    font-size: 11px !important;
    padding-top: -5px;
}

div#modalFeedback div#feedback_error {
    padding: 10px !important;
    display: none;

}

.modal-content {
    padding: 5px;
}